.accordion__item:nth-child(odd){
    background: rgba(213, 213, 213, 0.43) !important;
}
.accordion__button {
    background: transparent !important;
}
.acc-title  {
    color: #1E1E1E;
    font-family: Blinker;
    font-size: 25px;
    font-weight: 600;
    line-height: 14px;
    letter-spacing: 0em;    
}
.accordion {
    border: 0 !important;
    border-radius: 0px !important;
}
.accordion__item + .accordion__item {
    border-top: 0 !important;
}
.accordion__button:before {
    background-image: url(../../assets/images/polygon.png);
    background-repeat: no-repeat;
    transform: rotate(133deg) !important;
    border: none !important;
    float: right;
}
.accordion__button {
    padding: 35px 20px 35px 65px !important;
}
