.banner {
    background-image: url(../assets/images/banner.jpg);
    background-position: left top;
    background-repeat: no-repeat;
    background-size: 100%;
    height: auto;
    text-align: left;
    height: 913px;
    padding: 320px 0 188px;
    position: relative;
}
.banner-container {
    max-width: 1410px;
    width: 100%;
    margin: 0 auto;
}
.banner p {
    color: #fff;
    font-size: 24px;
    font-weight: 400;
    line-height: 129px;
    letter-spacing: 0.03em;
    text-align: left;    
}
.read-btn {
    color: #00463F;
    background-color: #40E0D0;
    background-image: url(../assets/images/arrow.png);
    background-position: 81% 21px;
    background-repeat: no-repeat;
    background-size: 8%;
    font-family: Blinker;
    text-transform: uppercase;
    font-size: 18px;
    font-weight: 600;
    line-height: 14px;
    letter-spacing: 0.04em;
    text-align: left;
    height: 58px;
    width: 197px;
    border-radius: 5px;
    padding: 21px 20px 20px 30px;
    border: none;
    transition: all .3s ease-in-out;
}
.read-btn:hover,
.read-btn:focus {
    color: #fff;
    transition: all .3s ease-in-out;
}
.banner-list {
    content: '';
    position: absolute;
    width: 585px;
    right: 12px;
    top: 36.6%;
    z-index: 10;
}
.list-content {
    padding: 38px;
    text-align: left;
    background-color: #000;
}
.list-content h5 {
    color: #fff;
    font-size: 30px;
    font-weight: 600;
    line-height: 37px;
    width: 90%;
    letter-spacing: 0em;
    text-align: left;
}
.blue h5 {
    color: #00463F;
}
.blue {
    background-color: #40E0D0 !important;
}
.banner-list .col-md-6 {
    padding: 0;
}
.image,
.white {
    position: relative;
    padding-bottom: 26px;
    margin-bottom: 16px;
}
.image::after {
    position: absolute;
    background: linear-gradient(90deg, #40E0D0 -10%, rgba(64, 224, 208, 0) 96.52%);
    background-repeat: no-repeat;
    content: '';
    left: 0;
    bottom: 0;
    width: 169px;
    height: 6px;
}
.white::after {
    position: absolute;
    background: linear-gradient(90deg, #FFFFFF -10%, rgba(255, 255, 255, 0) 96.52%) !important;
    background-repeat: no-repeat;
    content: '';
    left: 0;
    bottom: 0;
    width: 169px;
    height: 6px;
}
.study {
    background-color: #FFFFFF;
    padding: 80px 0 135px;
    position: relative;
}
.study::after {
    position: absolute;
    content: '';
    background-color: #40E0D0;
    background-image: url(../assets/images/map.png);
    background-position: top right;
    background-repeat: no-repeat;
    height: 100%;
    width: 609px;
    right: 0;
    top: 0;
}
.study .banner-list {
    content: '';
    position: absolute;
    width: 585px;
    right: 12px;
    top: 0;
    z-index: 100;
}
.study .list-content h5 {
    color: #fff;
    font-size: 30px;
    font-weight: 600;
    line-height: 37px;
    width: 85%;
    letter-spacing: 0em;
    text-align: left;
}
.study p {
    font-size: 23px;
    font-weight: 400;
    line-height: 42px;
    letter-spacing: 0em;
    text-align: left;
    margin-top: 71px;
}
.hero img {
    width: 100%;
}


.offer {
    background-image: url(../assets/images/bg.jpg);
    background-position: right top;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 150px 0;
}
.ofr-txt {
    color: #fff;
    font-size: 23px;
    font-weight: 400;
    line-height: 43px;
    letter-spacing: 0em;
    margin-top: 30px;
    text-align: left;    
}

.offer h3 {
    color: #fff;
    line-height: 73px;
}
.offer-list {
    width: 100%;
    display: inline-block;
}
.offer-list li {
    background-color: #FFFFFF;
    border-radius: 17px;
    display: inline-block;
    text-align: left;
    width: 29%;
    margin: 0 25px 50px;
    height: 370px;
    vertical-align: top;
    position: relative;
    padding: 22px 22px 70px 40px;
}
.offer-list li:first-child {
    background-color: transparent;
    border-radius: 0px;
    padding: 0;
}
.offer-list li:nth-child(2) {
    background-image: url(../assets/images/image3.png);
    background-position: left top;
    background-repeat: no-repeat;
    background-size: cover;
}
.offer-list li:nth-child(2) h6 {
    color: #FFFFFF;
    font-size: 30px;
    font-weight: 700;
    line-height: 41px;
    letter-spacing: 0em;
    position: relative;
}
.offer-list li:nth-child(2) h6::after {
    position: absolute;
    content: '';
    top: -20px;
    left: 0;
    background: linear-gradient(90deg, #40E0D0 -10%, rgba(64, 224, 208, 0) 96.52%);
    width: 130px;
    height: 5px;
}
.offer-list-text {
    position: absolute;
    content: '';
    left: 40px;
    bottom: 70px;
}
.offer-list li h6 {
    color: #000;
    font-size: 30px;
    font-weight: 700;
    line-height: 41px;
    letter-spacing: 0em;
}
.offer-list a {
    display: inline-block;
    float: right;
}
.line {
    text-align: center;
    margin: 154px 0 73px;
}
.line img {
    width: 100%;
    margin: 0 auto;
}
.bottom-text {
    text-align: left;
}
.bottom-text h5 {
    color: #fff;
    font-size: 46px;
    font-weight: 600;
    line-height: 73px;
    letter-spacing: 0em;
}
.meeting-btn {
    color: #00463F;
    background: #40E0D0;
    border-radius: 7px;
    max-width: 373px;
    width: 100%;
    height: 82px;
    font-size: 27px;
    font-weight: 600;
    line-height: 14px;
    letter-spacing: 0.01em;
    text-align: center;
}
.meeting-btn:hover,
.meeting-btn:focus {
    color: #fff;
}


.contries {
    background: #FAFAFA;
    background-image: url(../assets/images/wrld_map.png);
    background-position: right top;
    background-repeat: no-repeat;
    background-size: auto;
    padding: 129px 0;
}
.contries p {
    color: #0a0a0a;
    font-size: 23px;
    font-weight: 400;
    line-height: 43px;
    letter-spacing: 0em;
    text-align: left;
    margin-top: 32px;
    display: inline-block;
}
.contry-list {
    width: 100%;
    display: inline-block;
    margin-top: 140px;
}
.contry-list li {
    width: 23%;
    height: 127px;
    vertical-align: top;
    display: inline-block;
    text-align: left;
    background-color: #fff;
    box-shadow: 1px 1px 17px rgba(0, 0, 0, 0.24);
    border-radius: 7px;
    margin: 10px 10px;
    overflow: hidden;
    transition: all .3s ease-in-out;
}
.contry-list li:hover .image-area,
.contry-list li:hover .text-area h6,
.contry-list li:hover .text-area img {
    display: none;
}
.contry-list li:hover .text-area p,
.contry-list li:hover .text-area strong {
    display: block;
}
.text-area p {
    color: #fff;
    font-size: 17px;
    font-weight: 400;
    line-height: 25px;
    letter-spacing: 0em;
    display: none;
    margin: 0 0 15px;
}
.text-area strong {
    display: none;
    color: #fff;
    font-size: 26px;
    font-weight: 700;
    line-height: 29px;
    letter-spacing: 0em;
}
.contry-list li:hover {
    background-image: url(../assets/images/red_map.png);
    background-position: left top;
    background-repeat: no-repeat;
    background-size: cover;
    transition: all .3s ease-in-out;
}
.text-area {
    width: 70%;
    display: inline-block;
    vertical-align: top;
    padding: 20px 0 0 25px;
    text-align: left;
}
.text-area h6 {
    color: #000;
    font-size: 21px;
    font-weight: 600;
    line-height: 29px;
    letter-spacing: 0em;
    margin-bottom: 30px;
}
.image-area {
    width: 30%;
    display: inline-block;
    vertical-align: top;
}
.image-area img {
    width: 100%;
    object-fit: cover;
    height: 100%;
}


.orion-prime {
    background-image: url(../assets/images/prime_bg.jpg);
    background-position: right top;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 110px 0;
    text-align: left;
}
.orion-prime h3 {
    color: #fff;
    margin-top: 60px;
}
.orion-prime p {
    color: #fff;
    font-size: 23px;
    font-weight: 400;
    line-height: 43px;
    letter-spacing: 0em;
    margin: 54px 0 70px;
}
.prime-btn {
    border: none;
    background: #40E0D0;
    color: #00463F;
    border-radius: 5px;
    font-family: Blinker;
    font-size: 24px;
    font-weight: 600;
    line-height: 14px;
    letter-spacing: 0.01em;
    text-align: center;
    width: 340px;
    height: 76px;
}
.prime-right img {
    width: 90%;
}
.right-image {
    text-align: right;
    margin-bottom: 80px;
}
.bubble-box {
    background: #000000;
    border-radius: 10px;
    padding: 40px;
    text-align: left;
    max-width: 411px;
    width: 100%;
    height: 201px;
    position: relative;
}
.bubble-box::after {
    position: absolute;
    content: '';
    left: 60px;
    top: -25px;
    background-image: url(../assets/images/vector.png);
    background-position: left top;
    background-repeat: no-repeat;
    width: 27px;
    height: 20px;
}
.bubble-box h6 {
    color: #fff;
    font-size: 26px;
    font-weight: 700;
    line-height: 34px;
    letter-spacing: 0.04em;
    margin-bottom: 28px;
}
.call,
.call:hover,
.call:focus {
    color: #fff;
    font-size: 19px;
    font-weight: 600;
    line-height: 6px;
    letter-spacing: 0.04em;
    display: inline-block;
    margin-bottom: 32px;
}
.mail,
.mail:hover,
.mail:focus {
    color: #00D285;
    font-size: 19px;
    font-weight: 600;
    line-height: 6px;
    letter-spacing: 0.04em;
}


.whats-new {
    display: inline-block;
    width: 100%;
    padding: 93px 0 0;
}
.left-wrap {
    background: rgba(229, 232, 237, 0.57);
    border-radius: 5px;
    padding-top: 55px;
}
.left-wrap h3 {
    margin-left: 75px;
}
.left-wrap p {
    color: #0a0a0a;
    font-size: 23px;
    font-weight: 400;
    line-height: 45px;
    letter-spacing: 0em;
    text-align: left;
    margin: 36px 0 36px 75px;
}
.right-wrap {
    position: relative;
}
.right-wrap img {
    width: 100%;
}
.right-wrap-text {
    position: absolute;
    content: '';
    left: 0;
    bottom: 0;
    width: 100%;
    padding: 0 70px 40px 60px;
    text-align: left;
}
.right-wrap-text h5 {
    color: #FFFFFF;
    font-size: 39px;
    font-weight: 700;
    line-height: 45px;
    letter-spacing: 0em;
    text-align: left;
}
.red-mre {
    border: none;
    background-color: #40E0D0;
    background-image: url(../assets/images/right-arrow.png);
    background-position: 80% center;
    background-repeat: no-repeat;
    color: #00463F;
    border-radius: 2px;
    font-size: 20px;
    font-weight: 400;
    line-height: 14px;
    Width: 233px;
    Height: 60px;
    margin-top: 40px;
    display: inline-block;
    padding: 0 0 0 30px;
    letter-spacing: 0em;
    text-align: left;
}
.red-mre:hover,
.red-mre:focus {
    color: #FFFFFF;
}



.gallery {
    width: 100%;
    display: inline-block;
    padding: 150px 0 110px;
}
.gallery p {
    color: #0a0a0a;
    font-size: 23px;
    font-weight: 400;
    line-height: 45px;
    letter-spacing: 0em;
    text-align: left;
    margin: 35px 0 45px;
}
.gallery .col-md-6,
.gallery .col-md-3 {
    margin-bottom: 25px;
}
.gallery img {
    width: 100%;
    object-fit: cover;
    height: 100%;
}



.help-desk {
    background-color: #181818; 
    text-align: left;
    width: 100%;
    position: relative;
    padding: 65px 0;
}
.help-desk::after {
    position: absolute;
    content: '';
    background-color: #40E0D0;
    width: 50%;
    height: 100%;
    top: 0;
    right: 0;
}
.help-desk-left {
    background-image: url(../assets/images/cont_img.png);
    background-position: left center;
    background-repeat: no-repeat;
    margin-top: 30px;
    padding-left: 200px;
}
.help-desk-left p {
    color: #d6d6d6;
    font-size: 18px;
    font-weight: 600;
    line-height: 24px;
    letter-spacing: 3px;
    margin-bottom: 26px;
}
.help-desk-left a,
.help-desk-left a:hover,
.help-desk-left a:focus {
    color: #FFFFFF;
    font-size: 51px;
    font-weight: 600;
    line-height: 34px;
    letter-spacing: 0em;
}
.help-desk-right {
    padding-left: 30px;
    position: relative;
    z-index: 100;
}
.help-desk-right p {
    color: #00463F;
    font-size: 22px;
    font-weight: 600;
    line-height: 39px;
    letter-spacing: 0em;
    margin: 0;
}
.mob-list {
    display: none;
}



@media screen and (max-width: 1600px) {
    .banner {
        height: 892px;
    }
}
@media screen and (max-width: 1500px) {
.banner {
    height: 831px;
}
h1 {
    font-size: 96px;
}
}

@media screen and (max-width: 1400px){
.banner {
    height: 771px;
    overflow: hidden;
}
h1 {
    font-size: 89px;
}
.list-content h5 {
    font-size: 27px;
}
.list-content {
    padding: 36px;
}
.study p {
    width: 97%;
}
.banner p {
    line-height: 90px;
}
}
@media screen and (max-width: 1300px){
h1 {
    font-size: 82px;
}
.banner {
    height: 711px;
    padding: 265px 0 188px;
}
.banner p {
    line-height: 90px;
}
h2 {
    font-size: 53px;
    line-height: 60px;
}
.contry-list li {
    height: 115px;
}
.help-desk-left a, .help-desk-left a:hover, .help-desk-left a:focus {
    font-size: 48px;
}
}

@media screen and (max-width: 1200px){
    h1 {
        font-size: 75px;
    }
    .banner {
        height: 651px;
        padding: 230px 0 188px;
    }
    .contry-list li {
        height: 105px;
    }
    .right-wrap-text {
        padding: 0 38px 40px 41px;
    }
    .right-wrap-text h5 {
        font-size: 34px;
    }
}


@media screen and (max-width: 1100px){
    .study .col-md-7,
    .study .col-md-5 {
        width: 100%;
    }
    .banner .col-md-5 {
        width: 60%;
    }
    .list-content {
        padding: 66px;
        height: 310px;
    }
    .banner {
        height: 651px;
        padding: 230px 0 188px;
        background-size: cover;
    }
    .contry-list li {
        height: 98px;
        margin: 10px 9px;
    }
    .text-area h6 {
        font-size: 19px;
        margin-bottom: 12px;
    }
    .text-area {
        padding: 20px 0 0 15px;
    }
    .hero {
        height: 350px;
    }
    .blue {
        background-color: #000000 !important;
    }
    .blue h5 {
        color: #fff;
    }
    .white::after {
        background: linear-gradient(90deg, #40E0D0 -10%, rgba(64, 224, 208, 0) 96.52%) !important;
    }
    .hero img {
        width: 100%;
        object-fit: cover;
        height: 100%;
    }
    .mob-list .banner-list {
        content: '';
        position: inherit;
        width: 100%;
        right: auto;
        top: auto;
        z-index: 10;
    }
    .mob-list {
        display: block;
        background-color: #40E0D0;
        overflow: hidden;
        background-image: url(../assets/images/map.png);
        background-position: top right;
        background-repeat: no-repeat;        
        background-size: 100%;
    }
    .web-list {
        display: none;
    }
    .study::after {
        display: none;
    }
    .help-desk-left a, .help-desk-left a:hover, .help-desk-left a:focus {
        font-size: 35px;
    }
    .help-desk-left {
        padding-left: 179px;
        background-size: 30%;
    }
    .offer-list-text {
        left: 25px;
    }
    
}
@media screen and (max-width: 992px){
    .offer-list li {
        width: 43%;
    }
    .banner {
        margin-top: -79px;
    }
    .offer-list li h6 {
        font-size: 28px;
    }
    .contry-list li {
        width: 31%;
    }
    .right-wrap-text {
        padding: 0 20px 40px 20px;
    }
    .right-wrap-text h5 {
        font-size: 30px;
        line-height: 36px;
    }
    .red-mre {
        width: 100%;
    }
    .help-desk-left {
        padding-left: 130px;
        background-size: 30%;
    }
    .help-desk-left a, .help-desk-left a:hover, .help-desk-left a:focus {
        font-size: 29px;
    }
    .help-desk-left p {
        font-size: 15px;
        line-height: 24px;
        margin-bottom: 13px;
    }
    .banner .col-md-5 {
        width: 100%;
    }
}
@media screen and (max-width: 768px){
    .offer-list li {
        width: 100%;
        margin: 0 0 30px 0;
        height: 300px;
    }
    .contry-list li {
        width: 46%;
    }
    .right-image {
        margin-top: 50px;
        text-align: left;
    }
    h3 {
        font-size: 50px;
        padding-bottom: 30px;
    }
    .left-wrap h3 {
        margin-left: 15px;
    }
    .left-wrap p {
        margin: 36px 0 36px 15px;
    }
    .help-desk::after {
        background-color: transparent;
    }
    .help-desk-right p {
        color: #fff;
        margin: 40px 0 0;
    }
    .help-desk-left {
        padding-left: 130px;
        background-size: 120px;
    }
}

@media screen and (max-width: 600px){
.contry-list li {
    height: 92px;
    margin: 10px 9px;
}
.banner {
    height: 550px;
    padding: 157px 0 188px;
    background-size: cover;
}
h1 {
    font-size: 61px;
    line-height: 70px;
}
}
@media screen and (max-width: 500px){
    .contry-list li {
        height: 120px;
        margin: 10px 0;
        width: 100%;
    }
    .bubble-box {
        width: 100%;
        padding: 25px;
    }
}

