.header-outer {
    position: fixed;
    width: 100%;
    z-index: 1000;
}
.header-container {
    background-color: rgba(0, 0, 0, 0.5);
    max-width: 1440px;
    width: 100%;
    margin: 25px auto 0;
    padding: 27px;
}
.logo {
    text-align: left;
    width: 100%;
    display: inline-block;
}
.logo img {
    max-width: 239px;
    width: 100%;
    height: 67px;
}
.menu {
    margin-top: 22px;
    text-align: right;
}
.menu li {
    display: inline-block;
    vertical-align: top;
    margin: 0 18px;
}

.menu li a {
    color: #ffffff;
    font-size: 17px;
    font-weight: 400;
    line-height: 26px;
    letter-spacing: 0em;
    padding: 0 0 10px;
}
.menu li a:hover {
    background: linear-gradient(90deg, #40E0D0 -10%, rgba(64, 224, 208, 0) 96.52%);
    background-size: 55px 2px;
    background-repeat: no-repeat;
    background-position: left bottom;
}
.cont-btn {
    border-radius: 5px;
    border: none;
    display: inline-block;
    background-color: #40E0D0;
    font-family: Blinker;
    text-transform: uppercase;
    font-size: 20px;
    font-weight: 600;
    line-height: 14px;
    letter-spacing: 0.04em;
    margin-top: -20px;
    width: 198px;
    height: 62px;
    text-align: center;
    transition: all .3s ease-in-out;
}
.cont-btn:hover,
.cont-btn:focus {
    color: #ffffff;
    transition: all .3s ease-in-out;
}






/*------------------------------------- 
		   Mob Menu Section
--------------------------------------- */

.mobile-menu {
	display: none;
}
.menu-content {
    display: block;
    height: 62%;
    overflow: hidden;
    width: 100%;
    left: 0;
    top: 10px;
    position: absolute;
    z-index: 15;
}
.menu-content nav {
	height: 60px;
	position: relative;
	margin-top: -60px;
}
.menu-content .nav-links {
	display: block;
	position: absolute;
	top: 70px;
	left: 0;
	width: 100%;
}
.menu-content .nav-links li {
	border-bottom: 1px solid #ddd;
	background-color: #fff;
	opacity: 0;
	visibility: hidden;
	transform: translateY(-20px);
	transition: all 0.3s;
}
.menu-content .nav-links li a {
	background: #40E0D0;
	color: #00463F;
	display: block;
	font-size: 17px;
	font-weight: 400;
	padding: 6px 20px;
	text-align: left;
	width: 100%;
	transition: all 0.3s;
}
.menu-content .nav-links li a:hover {
	color: #fff;
    background: #00463F;
}

.menu-content input[type=checkbox] {
	position: absolute;
	opacity: 0;
	visibility: hidden;
}
.menu-content input[type=checkbox]:checked + label {
	border: 4px solid #00463F;
	border-radius: 50%;
	height: 28px;
	top: 15px;
	right: 18px;
	width: 28px;
	transform: rotate(-135deg);
}
.menu-content input[type=checkbox]:checked + label::before {
	background: #00463F;
	top: 8px;
	left: 4px;
	width: 12px;
}
.menu-content input[type=checkbox]:checked + label::after {
	background: #00463F;
	opacity: 1;
	top: 8px;
	left: 4px;
	visibility: visible;
	width: 12px;
}
.menu-content input[type=checkbox]:checked + label:hover {
	border-color: #00463F;
}
.menu-content input[type=checkbox]:checked + label:hover::before, input[type=checkbox]:checked + label:hover::after {
	background: #00463F;
}
.menu-content input[type=checkbox]:checked ~ .nav-links::before {
	opacity: 1;
	visibility: visible;
}
.menu-content input[type=checkbox]:checked ~ .nav-links li {
	opacity: 1;
	visibility: visible;
	transform: translateY(0);
}
.menu-content input[type=checkbox]:checked ~ .nav-links li:nth-child(1) {
	transition-delay: 0s;
}
.menu-content input[type=checkbox]:checked ~ .nav-links li:nth-child(2) {
	transition-delay: 0.1s;
}
.menu-content input[type=checkbox]:checked ~ .nav-links li:nth-child(3) {
	transition-delay: 0.2s;
}
.menu-content input[type=checkbox]:checked ~ .nav-links li:nth-child(4) {
	transition-delay: 0.3s;
}
.menu-content input[type=checkbox]:checked ~ .nav-links li:nth-child(5) {
	transition-delay: 0.4s;
}
.menu-content input[type=checkbox]:checked ~ .nav-links li:nth-child(6) {
	transition-delay: 0.5s;
}
.menu-content label {
	background: none transparent;
	border: 4px solid #00463F;
	border-left: 0 solid transparent;
	border-right: 0 solid transparent;
	cursor: pointer;
	display: block;
	height: 24px;
	position: absolute;
	top: 15px;
	right: 20px;
	width: 24px;
	transition: all 0.2s;
}
.menu-content label::before {
	background: #00463F;
	content: "";
	height: 4px;
	left: 0;
	position: absolute;
	top: 6px;
	width: 24px;
	transition: all 0.2s;
}
.menu-content label::after {
	background: #00463F;
	content: "";
	height: 4px;
	left: 0;
	position: absolute;
	top: 6px;
	opacity: 0;
	visibility: hidden;
	width: 100%;
	transform: rotate(90deg);
	transition: all 0.2s;
}





@media screen and (max-width: 1500px){
    .cont-btn{
        width: 149px;
    }
    .menu li {
        margin: 0 15px;
    }
}
@media screen and (max-width: 1300px){
    .cont-btn {
        width: 110px;
        font-size: 17px;
    }
    .menu li {
        margin: 0 14px;
    }
    .menu li a {
        font-size: 16px;
    }
}
@media screen and (max-width: 1200px){
    .menu li a {
        font-size: 15px;
    }
    .menu li {
        margin: 0 12px;
    }
    .cont-btn {
        width: 100px;
        font-size: 15px;
        height: 50px;
    }
}

@media screen and (max-width: 1100px){
.menu li {
    margin: 0px 9px;
}
.menu li a {
    font-size: 14px;
}
.cont-btn {
    width: 85px;
    font-size: 14px;
    height: 45px;
}
}

@media screen and (max-width: 992px){
.mobile-menu {
    display: block;
}
.header-outer {
    display: none;
}
.logo {
    padding-left: 10px;
}
}

@media screen and (max-width: 400px){
    .logo img {
        width: 70%;
    }
}