footer {
    background-color: #101010;
    padding: 160px 0;
}
footer h5 {
    color: #fff;
    font-size: 22px;
    font-weight: 400;
    line-height: 26px;
    letter-spacing: 0em;
    text-align: left;
}
footer p {
    color: #848484;
    font-size: 20px;
    font-weight: 600;
    line-height: 31px;
    letter-spacing: 0em;
    margin: 0;
    text-align: left;
}
.footer-bottom {
    background-color: #101010;
    padding: 26px 0 0;
    border-top: rgba(255, 255, 255, 0.1) solid 1px;
}
.footer-bottom p {
    color: rgba(255, 255, 255, 0.18);
    font-size: 20px;
    font-weight: 600;
    line-height: 41px;
    letter-spacing: 0em;
    text-align: left;
}
.top {
    background-color: #40E0D0;
    width: 75px;
    height: 83px;
    display: inline-block;
    margin: -26px 0 -6px;
}


@media screen and (max-width: 768px){
    footer .col-md-4,
    footer .col-md-2 {
        margin-bottom: 30px;
    }
    footer {
        background-color: #101010;
        padding: 100px 0 50px;
    }
}