.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
body {
  -webkit-transition: all .3s ease-in-out;
	-moz-transition: all .3s ease-in-out;
	-o-transition: all .3s ease-in-out;
	transition: all .3s ease-in-out;
  font-family: 'Blinker', sans-serif;
	margin:0;
	font-size:14px;
}
.container {
  max-width: 1300px;
  width: 100%;
  margin: 0 auto;
}
ul {
	margin:0 0 0 0;
	padding:0 0 0 0;
}
ul li {
  list-style: none;
}
a,
a:hover,
a:focus {
	outline:none;
	text-decoration:none;
}

h1 {
    color: #ffffff;
    font-size: 98px;
    font-weight: 600;
    line-height: 101px;
    letter-spacing: 0.02em;
    margin: 0;
    padding: 0;
}
h2 {
    color: #111111;
    font-size: 71px;
    font-weight: 700;
    line-height: 88px;
    letter-spacing: 0em;
    text-align: left;
    position: relative;
}
h2::after {
    position: absolute;
    background: linear-gradient(90deg, #40E0D0 -10%, rgba(64, 224, 208, 0) 96.52%);
    background-repeat: no-repeat;
    content: '';
    left: 0;
    bottom: -34px;
    width: 169px;
    height: 9px;
}

h3 {
  color: #111111;
  font-size: 65px;
  font-weight: 600;
  line-height: 46px;
  letter-spacing: 0em;
  padding-bottom: 40px;
  text-align: left;
  position: relative;
}
h3::after {
  position: absolute;
  background: linear-gradient(90deg, #40E0D0 -10%, rgba(64, 224, 208, 0) 96.52%);
  background-repeat: no-repeat;
  content: '';
  left: 0;
  bottom: 0;
  width: 169px;
  height: 9px;
}
